body {
  background-color: black;
  color: orange;
  font-family: cursive;
}

body::-webkit-scrollbar {
  display: none;
}

.message {
  margin-top: 0.25rem;
  color: rgb(22 101 52);
  background-color: rgb(134 239 172);
  margin: auto;
  padding: 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image {
  width: 50%;
  margin-left: 5px;
}

.details {
  width: 50%;
  margin-left: 10px;
}

.components {
  border-bottom: solid orange 1px;
}

.description {
  margin-top: 20px;
}

.favBtn {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn {
  color: black;
  background-color: orange;
  padding: 5px;
  border: solid orange 1px;
  border-radius: 10px;
}

@media only screen and (max-width: 750px) {
  .container {
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }

  .image {
    width: 100%;
  }

  .details {
    width: 100%;
  }
}
